/* 
.blade-background-left {
    z-index: var(--blade-background-z-index);
    left: 0px;
    position: absolute;
    top: -2.5vh;
    height: 105vh;
    width: auto;
    animation-name: blades-enter-left;
    animation-duration: var(--blade-background-duration);
}

.blade-background-right {
    z-index: var(--blade-background-z-index);
    right: 0px;
    scale: -1;
    position: absolute;
    top: -2.5vh;
    height: 105vh;
    width: auto;
    animation-name: blades-enter-right;
    animation-duration: var(--blade-background-duration);
}


@keyframes blades-enter-left {
  from {
    left: 50%;
}

to {
    left: 0px;
}
}

@keyframes blades-enter-right {
    from {
      right: 50%;

  }

  to {
    right: 0px
  }
} */