.player-card-button {
    color: rgba(40, 40, 40, 1);
    width: 100%;
    outline: 0.3vh solid;
    outline-color: rgba(30, 30, 30, 0.4);
    border-radius: 2vh;
    overflow: hidden;
    position: relative;
    border: 0.3vh solid rgba(196, 196, 196, 0.3);
    height: min-content;
}

.player-card-title {
    width: 100%;
    padding: 2px;
    padding-left: 1.3vh;
    /* box-shadow: 0 0 4px 5px rgba(30, 30, 30, 0.1); */
}

.player-card-title-gold {
    background: linear-gradient(90deg, #d3c231a4 0%, #d1bf22a4 100%);
}

.player-card-title-silver {
    background: linear-gradient(90deg, #33323266 0%, #33323229 60%, #00000000 90%);
    text-shadow: none;
}


.player-card-content {
    padding: 1.3vh;
}

.player-card-gamerpic {
    border: 3px solid;
    border-color: rgba(30, 30, 30, 0.2);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: auto;
    width: 10vh;
}