.blade-wing {
    height: calc(120%);
    translate: 0 -5%;
    position: absolute;
}

.blade-wing-image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    mix-blend-mode:multiply;
}

.blade-wing-title-anchor {
    position: absolute;

    left: 7vh;
    top: 22%;

    width: 0;
    height: 0;
}
.blade-wing-title {
    position: absolute;

    left: 0px;
    top: 0px;

    margin: 0;
    white-space: nowrap;

    transform-origin: left bottom;
    transform: rotate(90deg);

    color: #505050;
    font-weight: 100;
    font-size: 2.85vh;
    letter-spacing: 1px;
}