.menu-content-container {
    margin-top: 6.5vh;
    margin-bottom: 12.5vh;
    animation-name: fadeIn;
    animation-duration: 0.15s;
    z-index: var(--menu-content-container-z-index);
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}